*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
deployment.yaml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
ESV2ClassLib/bin/Debug/netcoreapp1.1/ESV2ClassLib.dll
ESV2ClassLib/bin/Debug/netcoreapp1.1/ESV2ClassLib.pdb
ESV2ClassLib/obj/Debug/netcoreapp1.1/ESV2ClassLib.dll
ESV2ClassLib/obj/Debug/netcoreapp1.1/ESV2ClassLib.pdb
ESV2Tests/bin/Debug/netcoreapp1.1/ESV2ClassLib.dll
ESV2Tests/bin/Debug/netcoreapp1.1/ESV2ClassLib.pdb
